# Ignore these files and folders
*.json
chroma_db/
*.zip
*.xlsx

# Python-specific ignore rules (from GitHub)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/